{% extends "base.html.twig" %}

{% block title %}Accueil
{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}

	<section id="home">
		<div id="font-pres" class="jumbotron d-flex align-items-center justify-content-center text-white mb-4">
			<div class="d-flex justify-content-center">
				<div class="col-7 text-center">
					<h1 class="display-4 font-weight-bold h2 pb-5">Darius Yvens</h1>
					<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis optio ei tempore, reiciendis unde, cumque corrupti qui. Vel!</p>
					<div class="d-flex justify-content-center pt-5">
						<a href="../public/pdf/dariusYvensCv.pdf" class="btn btn-lg btn-outline-light" target="_blank">Mon CV</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="container" id="cv"></section>

	<section id="contact" class="container d-flex justify-content-center mt-5 mn-5">
		<div class="col-11 col-md-8">
			<h2 class="text-center">
				Me contacter
			</h2>
			{% if session.contactError is defined %}
				<div class="alert alert-danger" role="alert">
					{{session.contactError}}
				</div>
			{% endif %}
			{% if session.contactSuccess is defined %}
				<div class="alert alert-success" role="alert">
					{{session.contactSuccess}}
				</div>
			{% endif %}
			<form action="index.php?path=contact/sendContact" method="POST">
				<div class="form-group row">
					<div class="col-sm-6 mb-3 mb-sm-0">
						<input type="text" name="name" {% if session.contactInfo.name is defined %} value="{{session.contactInfo.name}}" {% endif %} placeholder="Nom" class="form-control shadow-none form-control-user">
					</div>
					<div class="col-sm-6">
						<input type="text" name="firstName" {% if session.contactInfo.firstName is defined %} value="{{session.contactInfo.firstName}}" {% endif %} placeholder="Prenom" class="form-control shadow-none form-control-user">
					</div>
				</div>

				<div class="form-group">
					<input type="email" name="email" {% if session.contactInfo.email is defined %} value="{{session.contactInfo.email}}" {% endif %} placeholder="Email" class="form-control shadow-none form-control-user">
				</div>

				<div class="pt-4">
					<textarea placeholder="Votre Message ..." class="form-control shadow-none" name="message" cols="30" rows="10" minlength="15">
						{% if session.contactInfo.message is defined  %}
							{{session.contactInfo.message|raw}}
						{% endif %}
					</textarea>
				</div>
				<div class="p-4 d-flex justify-content-center">
					<button type="submit" class="btn btn-outline-dark btn-user btn-block">
						envoyer
					</button>
				</div>
			</div>
		</form>

	</section>

	<div></div>

	{% block javascripts %}{% endblock %}

{% endblock %}
