{% extends "admin/baseAdmin.html.twig" %}

{% block title %}Blog - Liste Articles
{% endblock %}


{% block body %}

	<h1 class="text-center">Admin Articles</h1>

	<a class="btn btn-primary" href="index.php?path=adminPost/addPost">ajouter un article</a>

	<table class="table mt-4">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Image</th>
				<th scope="col">Titre</th>
				<th scope="col">Auteur</th>
				<th scope="col">Date creation</th>
				<th scope="col">Date Modification</th>
				<th scope="col">En ligne
				</th>
				<th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>
			{% for p in posts %}

				<tr>
					<th scope="row"><img src="../public/upload/post/{{p.image}}" width="100px" height="60px" alt=""></th>
					<td scope="row">{{p.title}}</td>
					<td scope="row">{{p.auteur}}</td>
					<td scope="row">{{p.created_at }}</td>
					<td scope="row">{{p.updated_at }}</td>
					<td scope="row">
						{% if p.isPublished == true %}oui
						{% else %}
							non
						{% endif %}
					</td>
					<td scope="row">
						<a href="index.php?path=adminPost/updatePost/{{p.id}}">modifier</a>
						<a href="index.php?path=adminPost/deletePost/{{p.id}}">supprimer</a>
					</td>
				{% endfor %}
			</tr>
		</tbody>
	</table>

{% endblock %}
