{% extends "admin/baseAdmin.html.twig" %}

{% block title %}Blog - Liste Articles
{% endblock %}


{% block body %}

	<div class="container  mb-5">

		<h1 class="text-center p-4">Liste des articles</h1>

		<div class="d-flex justify-content-end">
			<a class="btn btn-outline-dark" href="index.php?path=adminPost/addPost">ajouter un article</a>
		</div>
		<table class="table mt-4">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Image</th>
					<th scope="col">Titre</th>
					<th scope="col">Auteur</th>
					<th scope="col">Date creation</th>
					<th scope="col">Date Modification</th>
					<th scope="col">En ligne
					</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				{% for p in posts %}

					<tr>
						<th scope="row"><img src="../public/upload/post/{{p.image}}" width="100px" height="60px" alt=""></th>
						<td scope="row">{{p.title}}</td>
						<td scope="row">{{p.auteur}}</td>
						<td scope="row">{{p.created_at }}</td>
						<td scope="row">{{p.updated_at }}</td>
						<td scope="row">
							{% if p.isPublished == true %}oui
							{% else %}
								non
							{% endif %}
						</td>
						<td scope="row">
						    <a class="text-dark" href="index.php?path=post/details/{{p.id}}" target="_blank" ><i class="fa-solid fa-eye "></i></a> <br>
						    <a class="" href="index.php?path=adminPost/updatePost/{{p.id}}"><i class="fa-solid fa-pen-to-square "></i></a> <br>
							<a class=" text-danger" href="index.php?path=adminPost/deletePost/{{p.id}}" onclick="return confirm('veuillez comfirmer la suppression ')"><i class="fa-solid fa-trash-can "></i></a>
						</td>
					{% endfor %}
				</tr>
			</tbody>
		</table>
	</div>
{% endblock %}
