{# <h1>
		page d'inscription
	</h1>

    {% if session.error is defined %} 	
		<div style="color:red;">
			{{session.error}}  
		</div>
	{% endif %}

	<form action="index.php?path=registration/index" method="POST" enctype="multipart/form-data">

		<div>
			<label for="name">Nom <span style="color:red;">*</span></label>
			<input type="text" name="name"
			{% if session.info.name is defined  %} value="{{session.info.name}}" {% endif %}>

		</div>
		<div>
			<label for="first_name">Prénom <span style="color:red;">*</span></label>
			<input  type="text" name="first_name"
			{% if session.info.firstName is defined  %} value="{{session.info.firstName}}" {% endif %}>
		</div>
		<div>
			<label for="email">email <span style="color:red;">*</span> </label>
			<input  type="email" name="email"
			{% if session.info.email is defined  %} value="{{session.info.email}}" {% endif %}>
		</div>
		<div>
			<label for="password">mot de passe <span style="color:red;">*</span></label>
			<input type="password" name="password">
		</div>
		<div><label for="file">photo de profil</label></div>
		<div><input type="file" name="file"></div>
		<br>

		<button type="submit">enregister</button>

	</form> #}


<!DOCTYPE html>
<html lang="en">

	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>Blog - Création de compte</title>

		<!-- Custom fonts for this template-->
		<link rel="stylesheet" href="../vendor/twbs/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="../public/css/register-login.css">


	</head>

	<body class="bg-gradient-primary bg-dark d-flex align-items-center ">

		<div class="container">

			<div class="card o-hidden border-0 shadow-lg my-5">
				<div
					class="card-body p-0">
					<!-- Nested Row within Card Body -->
					<div class="row">
						<div id="image-left" class="col-lg-5 d-none d-lg-block bg-register-image"></div>
						<div class="col-lg-7">
							<div class="p-5">
								<div class="text-center">
									<h1 class="h4 text-gray-900 mb-4">Creation de Compte !</h1>
								</div>
								<form class="user" action="index.php?path=registration/index" method="POST" enctype="multipart/form-data">
									<div class="form-group row">
										<div class="col-sm-6 mb-3 mb-sm-0">
											<input type="text" class="form-control form-control-user" id="exampleFirstName" name="first_name" {% if session.info.firstName is defined %} value="{{session.info.firstName}}"{% endif %} placeholder="Prénom">
										</div>
										<div class="col-sm-6">
											<input type="text" class="form-control form-control-user" id="exampleLastName" name="name" {% if session.info.name is defined %} value="{{session.info.name}}" {% endif %} placeholder="Nom">
										</div>
									</div>
									<div class="form-group">
										<input type="email" class="form-control form-control-user" id="exampleInputEmail" name="email" {% if session.info.email is defined %} value="{{session.info.email}}" {% endif %} placeholder="Email">
									</div>
									<div class="form-group ">
										<input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Mot de passe">
									</div>
									
									<div class="custom-file mt-4">
										<input type="file" name="file" class="custom-file-input" id="inputGroupFile01"
										aria-describedby="inputGroupFileAddon01">
										<label class="custom-file-label" for="inputGroupFile01">Photo de profil</label>
									</div>
									</div>

									<div class="d-flex justify-content-center mt-4 mb-4">
										<button type="submit" class="btn btn-outline-dark btn-user btn-block">
											Créer mon compte
										</button>
									</div>
								</form>
								<div class="text-center">
									<a class="small" href="index.php?path=login">Vous avez déja un Compte? Connexion!</a>
								</div>

								<div class="text-center mb-5">
									<a class="small" href="index.php?path=home">retour sur l'acceuil</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</body>

</html>
