{% extends "admin/baseAdmin.html.twig" %}

{% block title %}Blog - Gestion des commentaires {% endblock %}

{% block body %}

	<h1 class="text-center mb-4"> Commentaires en Attente de Validation </h1>
	
<div class ="mt-5 ">
    <table class="table mt-4">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Date</th>
				<th scope="col">Utilisateur</th>
				<th scope="col">Commentaire</th>
				<th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>
			{% for c in comment %}

				<tr>
					<td scope="row">{{c.published_at }}</td>
					<td scope="row">{{c.email}}</td>
					<td scope="row">{{c.message}}</td>
					<td scope="row">
					    <a class="text-success m-3" href="index.php?path=adminComment/acceptComment/{{c.id}}"><i class="fa-solid fa-circle-check"></i> Valider</a> |
						<a class="text-dark m-3"  href="index.php?path=post/details/{{c.post_id}}" target="_blank" ><i class="fa-solid fa-eye "></i> Article</a>
					</td>
				{% endfor %}
			</tr>
		</tbody>
	</table>
</div>
{% endblock %}
